/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{

  position: absolute;
  width:100%;
  padding:0;
  margin:0;
  background-color: rgba(177, 116, 2, 0.15);
}
.imnc-gradient {
  background-image: linear-gradient(180deg, #DBBD74 0%, #8f5b02 100%);

}

.mat-raised-button.mat-imnc, .mat-flat-button.mat-imnc{
  background: #8f5b02 !important;
  color: white !important;
}
.mat-form-field-empty.mat-form-field-label {
  color: dimgrey !important;
}
.mat-form-field-underline {
  background-color: darkgrey !important;
}

.mat-focused {
  .mat-form-field-label
  {
    color: #8f5b02 !important;
  }
  .mat-form-field-underline {
    .mat-form-field-ripple {
      background-color: rgba(162, 106, 3, 0.56) !important;
      //display: none !important;
    }
  }
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: rgb(143, 91, 2) !important;
}

.mat-ripple-element {
  background: rgba(168, 114, 2, 0.4) !important;
}

.logo-shadow
{
  -webkit-filter: drop-shadow(0px 0px 250px rgb(255, 255, 255));
  filter: drop-shadow(0px 0px 250px rgb(255, 255, 255));
}

.toobar
{
  background-image: linear-gradient(120deg, #b19a5d 0%, #8A672D 100%);
  color: white;
}


a{
  color: #999;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: #7a4c08;
}
a.active{
  text-decoration: none;
  color: #7a4c08;
}

h5{
  color: #8f5b02 !important;
}
.header-user {
  background:  white !important;

  color: dimgrey !important;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}
.content {
  min-height: 200px;
  min-width: 75%;
}
